#tweets {
  border-style:solid;
  border-width: 0px;
  border-color: lightgrey;
  margin-top: 100px;
  height: auto;
}

.tweetsArticle {
  border-style:solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 10px;
  background-color: white;
  margin-top: 60px;
}

#tweets article header {
  background-color: lightgrey;
  border: 1px solid #ccc;
  height:100px;
  border-radius: 10px 10px 0px 0px
}

#tweets .profilepic {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  float:left;
  padding-right: 10px;
  margin: 10px 10px 10px 10px;
}
 #tweets header h3 {
  display: inline;
  font-size: 30px;
}

#tweets header h4{
  float: right;
  padding-right: 10px;
  display:inline;
  margin:3%;
}

#tweets p {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height:auto;
}

#tweets footer {
  border-top: solid;
  border-width: 0.5px;
  border-color: lightgrey;
  padding-left: 10px;
  line-height: 3em;
  border-radius: 0px 0px 10px 10px;
}

#tweets .icons{
  display: none;
  padding-top: 2%;
  padding-right :3%;
  width: 30px;
  height: 35px;
  float: right;
}
#tweets article:hover .icons {
  display: block;
}