#tweets {
  border-style:solid;
  border-width: 0px;
  border-color: lightgrey;
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 10px;
  height: auto;
}

.tweetsArticle {
  border-style:solid;
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 10px;
  padding:0em;
  background-color: white;
  margin-top: 60px;
  /*border-radius: 5px;*/
}

#tweets article header {
  background-color: lightgrey;
  border: 1px solid #ccc;
  height:100px;
  border-radius: 10px 10px 0px 0px
}

#tweets .profilepic {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  float:left;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
 #tweets h3{

  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  padding: 8px;
}

#tweets h4{
  float: right;
  padding-right: 10px;
  padding-top: 10px;
  display:inline;
}

#tweets p {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height:auto;
}

#tweets footer {
  border-top: solid;
  border-width: 0.5px;
  border-color: lightgrey;
  padding-left: 10px;
  line-height: 3em;
  border-radius: 0px 0px 10px 10px;
}

#tweets .icons{
  display: none;
  padding-top: 2%;
  padding-right :3%;
  width: 30px;
  height: 35px;
  float: right;
}
#tweets article:hover .icons {
  display: block;
}